{% extends "fulroster/base.html" %}

{% block opengraph %}
<meta property="og:url" content="http://www.fulröster.se{% url 'about' %}">
<meta property="og:title" content="Om fulröster.se">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Om fulröster.se</h2>
    <p>
      Fulröster.se skapades av Pär Wieslander strax efter
      riksdagsvalet 2014 som ett sätt att snabbt kunna få överblick
      över alla kreativa, handskrivna röster som lagts i valet.
      Rösterna är riktiga, men sajten är endast tänkt som underhållning
      och gör inget politiskt ställningstagande.
    </p>
    <p>
      Kommentarer och förbättringsförslag uppskattas!  Jag nås
      enklast via epost på
      <a href="mailto:wieslander@gmail.com">wieslander@gmail.com</a>.
    </p>
  </div>
{% endblock %}
